@font-face {
    font-family: Impact;
    src: url(../fonts/impact.ttf);
}

:root {
    --logo-color: #E6371F;
    --heading-color: #01050F;
    --h2-color: #535353;
    --background-color: #FFFFFF;
    --footer_text_color: #FFFFFF;
    --button-color: #F08779;
    --button-hover-color: #E6371F;
    --text-color: #01050F;
    --text2-color: #535353;
    --section-color-01: #EAEAEA;
    --section-color-02: #01050F;
    --burger: #0A0F8F;


    --heading-type: Impact;
    --paragraph-type: Helvetica, Arial, sans-serif;

    --rhythm: 0.5rem;
    --h1-size: calc(var(--rhythm) * 4);
    --h2-size: calc(var(--rhythm) * 2.5);
    --logo-size: calc(var(--rhythm) * 3);
    --paragraph-size: calc(var(--rhythm) * 2);
}


* {
    box-sizing: border-box;
}

body{
}

header{
    margin: calc(var(--rhythm) * 4) calc(var(--rhythm) * 2) calc(var(--rhythm) * 12);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header > a:last-child > i{
    font-size: var(--h2-size);
    color: var(--burger);
}

main {
    margin-bottom: calc(var(--rhythm) * 4);
}

 main > p, main > h1 {
    padding: 0px calc(var(--rhythm) * 2);
}

main section {
    padding: calc(var(--rhythm) * 3) calc(var(--rhythm) * 2);
}

main > h1+p, main > h1+section {
    padding-top: var(--logo-size);
}

h2+ul, h2+p {
    padding-top: var(--rhythm);
}

/* FOOTER / NAVIGATION 
============================================================================================================*/

footer {
    height: 100vh;
    padding:  calc(var(--rhythm) * 3) calc(var(--rhythm) * 2) calc(var(--rhythm) * 6);
    background-color: var(--h2-color);
}

footer > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

footer > div:first-child ul {
    display: flex;
    flex-direction: row;
    gap: var(--paragraph-size);
}

footer > div:first-child a {
    font-size: var(--h2-size);
    color: var(--footer_text_color);
}

footer > div:last-child {
    display: flex;
    flex-direction: column;
    gap: var(--paragraph-size);
}

footer > div:last-child a {
    width: 100%;
    padding: var(--paragraph-size);
    text-align: center;
    background-color: var(--button-hover-color);
}

footer > div:last-child a h1 {
    font-size: var(--h1-size);
    color: var(--footer_text_color);
}


/* footer > ul:last-child {
    align-items: center;
} */
/* 
footer > ul:last-child a:link, footer > ul:last-child a:visited {
    width: 100%;
    background-color: var(--button-color);
} */

/* ============================================================================================================ */

img, video {
    width: 100%;
}

h1, h2, h3, h4, h5, p, li, a {
    text-wrap: pretty;
}

h1, h2, h3, a {
    font-family: var(--heading-type);
    text-transform: uppercase;
}

h1 {
    color: var(--heading-color);
    font-size: var(--h1-size);
}

h2 {
    color: var(--heading-color);
    font-size: var(--h2-size);
}

p, li {
    font-family: var(--paragraph-type);
    font-size: var(--paragraph-size);
    font-weight: 300;
    line-height: 1.4;
}

h1.logo {
    color: var(--logo-color);
    font-size: var(--logo-size);
    line-height: 0.9;
}

.prev_next {
    padding: 0px 16px calc(var(--rhythm) * 6);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prev, .next {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prev > i, .next > i, .prev > h1, .next > h1 {
    font-size: var(--logo-size);
}

a:link.next > h1, a:visited.next > h1, a:link.prev > h1, a:visited.prev > h1, a:link.next > i, a:visited.next > i, a:link.prev > i, a:visited.prev > i {
    color: var(--button-color);
    text-decoration: none;
}
a:hover.next > h1, a:active.next > h1, a:hover.prev > h1, a:active.prev > h1, a:hover.next > i, a:active.next > i, a:hover.prev > i, a:active.prev > i {
    color: var(--button-hover-color);
    text-decoration: underline;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    gap: calc(var(--rhythm) * 2);
}

/* h1+p {
    padding-top: 20px;
}

h2+p {
    padding-top: 16px;
} */

p {
    margin-bottom: calc(var(--rhythm) * 6)
}

/* CONTACT STYLING
============================================================================================== */
.contact_form ul {
    padding: var(--rhythm) var(--paragraph-size) var(--logo-size);
}

.contact_form ul a:link, .contact_form ul a:visited {
    font-family: var(--paragraph-type);
    font-size: var(--paragraph-size);
    font-weight: 700;
    color: var(--button-color);
    text-decoration: none;
}

.contact_form ul a:hover {
    color: var(--button-hover-color);
    text-decoration: underline;
}

.contact_form > div {
    border-radius: 4px;
    background-color: var(--burger);
    padding: var(--logo-size) 0;
}

.contact_form > div h2, .contact_form > div form {
    padding: 0 var(--paragraph-size);
}

.contact_form > div h2 {
    color: var(--background-color);
    margin-bottom: var(--logo-size);
}

form {
    display: flex;
    flex-direction: column;
}
form label {
    font-family: var(--paragraph-type);
    font-size: var(--paragraph-size);
    color: var(--section-color-01);
}

input[type=text] {
    margin: var(--rhythm) 0 var(--logo-size);
    padding: var(--rhythm);
    background-color: var(--section-color-01);
    border: none;
    outline: none;
}

textarea {
    margin: var(--rhythm) 0 var(--logo-size);
    height: 150px;
    padding: var(--rhythm);
    border: none;
    outline: none;
    background-color: var(--section-color-01);
    resize: none;
}

input[type=text]:focus, textarea:focus {
    background-color: var(--background-color);
}

input[type=submit] {
    background-color: var(--button-color);
    color: var(--background-color);
    padding: var(--paragraph-size);
    border: none;
    font-family: var(--heading-type);
    font-size: var(--h2-size);
}

input[type=submit]:focus {
    background-color: var(--button-hover-color);
  }

/* ============================================================================================== */


.masthead {
    background-color: #ED1C24;
    color: var(--background-color);
}

.masthead h2 {
    color: var(--background-color);
}

.grey_back {
    background-color: var(--section-color-01);
}

.black_back {
    background-color: var(--section-color-02);
}

.aesop_layouts h2 {
    color: var(--footer_text_color);
}